Source: nmapautomatorng
Section: misc
Priority: optional
Maintainer: Joachim Mammele <mail@security-companion.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/security-companion/nmapAutomatorNG

Package: nmapautomatorng
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends}, nmap, gowitness, sslyze, nuclei, ssh-audit, ffuf, gobuster
Description: penetration testing recon script
 The main goal for this script is to automate the process of enumeration & recon that is run every time, and instead focus our attention on real pentesting.
