name: debian-package creation without dependencies

on: push

jobs:
  build-debs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jtdor/build-deb-action@v1
      - uses: actions/upload-artifact@v6
        with:
          name: artifact-deb
          path: |
            debian/artifacts/*.*
